#chart{
    height: 50px;
    max-height: 50px;
    max-width: 100px;
    margin-top: -18px;
}
.top-cards{
    .mat-card{
        height: 125px;
    }
}
.h-400{
    height: 400px;
}
.row{margin: 0 !important;}

