<div class="sidebar">
    <mat-list role="list">
        <mat-list-item role="listitem" (click)="menuClick()"><mat-icon matRipple>menu</mat-icon> </mat-list-item><br>
        <mat-list-item role="listitem" matRipple><mat-icon>dashboard</mat-icon><span> Item 1</span></mat-list-item>
        <mat-list-item role="listitem" matRipple><mat-icon>person_search</mat-icon> <span> Item 1</span></mat-list-item>
        <mat-list-item role="listitem" matRipple><mat-icon>sms</mat-icon> <span> Item 1</span></mat-list-item>
      </mat-list>
</div>